/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --first-color: #5392f9;
  --first-color-alt: #3380fc;
  --title-color: #393939;
  --text-color: #707070;
  --text-color-light: #a6a6a6;
  --body-color: #EAF8FF;
  --container-color: #ffffff;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: #f1f3f2;
  --text-color: #c7d1cc;
  --body-color: #1d2521;
  --container-color: #27302c;
}

/*========== Button Dark/Light ==========*/
.change-theme {
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/
.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-3);
}

.section-subtitle {
  display: block;
  color: var(--first-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

/*========== LAYOUT ==========*/
.bd-container {
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/*========== NAV ==========*/
.nav {
  max-width: 1024px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__member {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--body-color);
    transition: 0.4s;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }
}

.nav__item {
  margin-bottom: var(--mb-2);
}

.nav__link,
.nav__logo,
.nav__toggle {
  color: var(--text-color);
  font-weight: var(--font-medium);
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__link {
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show member */
.show-member {
  top: var(--header-height);
}

/* Active member */
.active-link {
  color: var(--first-color);
}

/* Change background header */
.scroll-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Scroll top */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: #00509d;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: var(--first-color-alt);
}

.scrolltop__icon {
  font-size: 1.8rem;
  color: var(--body-color);
}

/* Show scrolltop */
.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

/*========== HOME ==========*/

.home__container {
  height: calc(100vh - var(--header-height));
  align-content: center;
}

.home__title {
  font-size: var(--biggest-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-1);
}

.home__subtitle {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-4);
}

.home__img {
  width: 300px;
  justify-self: center;
}

/*========== BUTTONS ==========*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

/*========== ABOUT ==========*/
.about__data {
  text-align: center;
}

.about__description {
  margin-bottom: var(--mb-3);
}

.about__img {
  width: 280px;
  border-radius: 0.5rem;
  justify-self: center;
}

/*========== SERVICES ==========*/
.services__container {
  row-gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.services__content {
  text-align: center;
}

.services__img {
  width: 64px;
  height: 64px;
  fill: var(--first-color);
  margin-bottom: var(--mb-2);
}

.services__title {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-1);
}

.services__description {
  padding: 0 1.5rem;
}

/*========== MEMEBER ==========*/
.member__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  /* Jarak antar member jika diinginkan */
  justify-content: center;
}

.member__content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--container-color);
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15);
  padding: 0.75rem;
  margin-bottom: var(--mb-2);
  /* Jarak antar member jika diinginkan */
}

.member__img {
  width: 100px;
  align-self: center;
  margin-bottom: var(--mb-2);
  border-radius: 0.5rem;
}

.member__name,
.member__detail {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.member__name {
  font-size: var(--normal-font-size);
}

.member__preci,
.member__detail,
.member__name {
  font-size: var(--small-font-size);
  align-self: center;
}

.member__detail {
  margin-bottom: var(--mb-1);
}

/* Member pertama di shaf pertama */
.member__content:nth-child(1) {
  grid-column: span 3;
}


/* =========== */
/* Our Journey */
/* =========== */

.timeline-container {
  margin-top: 140px;
}

.timeline-container h2 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
  font-size: 2.6rem;
  color: black;
}

.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
  color: #004AAD;
}

.timeline-header__title {
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.timeline-header__subtitle {
  font-size: 16px;
  letter-spacing: 3px;
  margin: 10px 0 0 0;
  font-weight: normal;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #004AAD;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-item {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-item::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: #004AAD;
  border: 4x solid #004AAD;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.timeline__content {
  padding: 20px 30px;
  background: transparent;
  position: relative;
  border-radius: 6px;
}

.timeline__img {
  max-width: 100%;
  height: auto;
}

.timeline__content h2 {
  font-weight: normal;
  margin: 0;
  text-align: left;
  color: #004AAD;
}

.timeline__content-title span {
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  transition: 0.4s;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
}

.timeline__content-desc {
  margin: 0;
  font-size: 17px;
  box-sizing: border-box;
  font-family: "Poppins";
  font-weight: normal;
  line-height: 25px;
  text-align: center;
  color: black;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: "";
  height: 0;
  position: absolute;
  top: 27px;
  width: 0;
  z-index: 1;
  right: 30px;
  border-width: 10px 0 10px 10px;
}

.right::before {
  content: "";
  height: 0;
  position: absolute;
  top: 27px;
  width: 0;
  z-index: 1;
  left: 30px;
  border-width: 10px 0 10px 10px;
}

.right::after {
  left: -13px;
}



/* Media Queries */
/* Tablet */
@media (max-width: 768px) {
  #about.about {
    padding-top: 0px;
  }

  .about .row {
    flex-direction: column;
  }

  .about .row .about-img {
    flex: 1 1 100%;
    margin-bottom: 20px;
  }

  .about .row .content-kedua {
    flex: 1 1 100%;
    padding: 20px;
  }

  .about .row .content-kedua h2 {
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 40px;
  }

  .about .row .content-kedua p {
    font-size: 15px;
    padding-top: 0px;
    padding-bottom: 10px;
  }

  .about-img img {
    display: block;
    margin: 0 auto;
  }

  .team h2 {
    font-size: 2rem;
  }

  .team p {
    padding: 20px;
    margin-top: -20px;
  }

  .team .row {
    margin-top: 2rem;
  }

  .team .row .team-card {
    width: 180px;
    padding-bottom: 3rem;
  }

  .timeline::after {
    left: 31px;
  }

  .timeline-item {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline-item::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after,
  .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }

  .timeline-container h2 {
    font-size: 2rem;
    margin-bottom: 3px;
  }

  .timeline-header__title {
    font-size: 20px;
    padding: 20px;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  #about.about {
    padding-top: 0px;
  }

  .about .row {
    flex-direction: column;
  }

  .about .row .about-img img {
    flex: 1 1 100%;
    margin-bottom: 20px;
  }

  .about .row .content-kedua {
    padding: 20px;
  }

  .about .row .content-kedua h2 {
    font-size: 30px;
  }

  .about .row .content-kedua p {
    font-size: 13px;
  }

  .team p {
    font-size: 15px;
  }

  .timeline::after {
    left: 26px;
  }

  .timeline-item {
    width: 100%;
    padding-left: 60px;
    padding-right: 20px;
  }

  .timeline-item::before {
    left: 50px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after,
  .right::after {
    left: 10px;
  }

  .right {
    left: 0%;
  }

  .timeline-container h2 {
    font-size: 1.5rem;
    margin-bottom: 3px;
  }

  .timeline-header__title {
    font-size: 15px;
    padding: 15px;
  }

  .timeline__content-title span {
    font-weight: normal;
    font-size: 16px;
    margin: 0;
    transition: 0.4s;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: center;
  }

  .timeline__content-desc {
    margin: 0;
    font-size: 12px;
    box-sizing: border-box;
    font-family: "Poppins";
    font-weight: normal;
    line-height: 25px;
    text-align: center;
  }
}


/*========== FOOTER ==========*/
.footer__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__logo {
  font-size: var(--h3-font-size);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
}

.footer__description {
  display: block;
  font-size: var(--small-font-size);
  margin: 0.25rem 0 var(--mb-3);
}

.footer__social {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-2);
}

.footer__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-2);
}

.footer__link {
  display: inline-block;
  color: var(--text-color);
  margin-bottom: var(--mb-1);
}

.footer__link:hover {
  color: var(--first-color);
}

.footer__copy {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-top: 3.5rem;
}

/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 576px) {

  .home__container,
  .about__container,
  .app__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__data,
  .about__initial,
  .app__data,
  .app__initial,
  .since__container,
  .since__initial {
    text-align: initial;
  }

  .about__img,
  .app__img {
    width: 380px;
    order: -1;
  }

  .since__container {
    grid-template-columns: 1.75fr 1fr;
    align-items: center;
  }

  .since__button {
    justify-self: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 8rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__list {
    display: flex;
  }

  .nav__item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }

  .change-theme {
    position: initial;
    margin-left: var(--mb-2);
  }

  .home__container {
    height: 100vh;
    justify-items: center;
  }

  .services__container,
  .member__container {
    margin-top: var(--mb-6);
  }

  .member__container {
    grid-template-columns: repeat(3, 210px);
    column-gap: 4rem;
  }

  .member__content {
    padding: 1.5rem;
  }

  .member__img {
    width: 130px;
  }

  .app__store {
    margin: 0 var(--mb-1) 0 0;
  }
}

@media screen and (min-width: 960px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img {
    width: 500px;
  }

  .about__container,
  .app__container {
    column-gap: 7rem;
  }
}

/* For tall screens on mobiles y desktop*/
@media screen and (min-height: 721px) {
  .home__container {
    height: 745px;
  }
}