@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ================================ */
/* STYLING SECTION 1 (GAMBAR COVER) */
/* ================================ */
.container-contact-s-1 {
  display: block;
  height: 100vh;
}

.bg-web1 {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
}

.container-contact-s-1-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.container-isi-contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: transparent;
  text-align: center;
  justify-content: center;
}

.text-bg1 {
  text-align: left;
  font-size: 60px;
  font-weight: 700;
  padding-left: 29vh;
  color: rgb(2, 2, 2);
  text-shadow: 1px 1px 10px rgb(253, 245, 245);
  margin: 0;
}

.text-bg2 {
  color: #4369DF;
  text-shadow: 0px 4px 2px rgba(255, 255, 255, 0.6);
  text-align: left;
  font-size: 35px;
  font-weight: 600;
  padding-left: 29vh;
  margin: 0;
}

/* ===================================== */
/* END STYLING SECTION 1 (GAMBAR COVER)  */
/* ===================================== */




/* ============================= */
/* SYLING SECTION HEADER CONTACT */
/* ============================= */
.header-contact i {
  color: #5392F9;
  font-size: 40px;
  margin-right: 15px;
}

.header-contact {
  margin-top: 120px;
}

.header-contact a {
  color: grey;
  font-size: 13px;
}

.form-contact {
  margin-top: 80px;
}

.form-contact .flex {
  display: flex;
}

.form-contact .container {
  max-width: 85%;
  margin: auto;
}

.flex {
  display: flex;
}

.flex_space {
  display: flex;
  justify-content: flex-end;
}

.box {
  margin: 0 0 0 30px;
}

.icon {
  margin-top: 20px;
}

.icon i {
  background: #f5f5f5;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #e7e3e3;
  border-radius: 5px;
}

/* ================================= */
/* END SYLING SECTION HEADER CONTACT */
/* ================================= */



/* =========================== */
/* SYLING SECTION FORM CONTACT */
/* =========================== */


.flex_space1 {
  display: flex;
  justify-content: space-between;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 20px;
  outline: none;
  border: none;
}

form textarea,
form input {
  width: 100%;
  border: 2px solid #ececec;
  margin-top: 10px;
  resize: none;
}

.contact span {
  font-size: 14px;
  color: grey;
  font-weight: 400;
  letter-spacing: 1px;
}

form span label {
  color: crimson;
}

.contact p {
  font-size: 14px;
  color: grey;
  font-weight: 400;
  margin: 10px 0;
}


/*============MAIN-CONTENT============*/
.main-content {
  width: 70%;
  border: 2px solid #66bae3;
  border-radius: 10px;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.main-content-range {
  padding: 50px 50px;
}

.main-content p {
  margin-bottom: 25px
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.grid1 span {
  font-weight: 500;
}

.input input:focus {
  border-color: rgb(0, 170, 255);
}

.inputLast textarea:focus {
  border-color: rgb(0, 170, 255);
}

.input-message {
  margin-top: 20px;
}

/* Untuk browser berbasis WebKit (Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form .inputlast {
  margin: 20px 0 20px 0;
}

form .primary-btn {
  margin-top: 20px;
  font-size: 16px;
}

.primary-btn {
  padding: 10px 20px;
  background-color: #5392F9;
  color: white;
  font-weight: 400;
  transition: 0.5s;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.primary-btn:hover {
  background-color: #000;
  color: white;
}

/*============SECTION-DISPLAY-FORM============*/
.show-data h1 {
  color: #31b675;
  margin: 0 0 20px 0;
}

.show-data h3 {
  display: flex;
}

.show-data h3 p {
  font-weight: 400;
  margin-left: 5px;
}

.show-data .sign-box {
  margin-top: 50px;
}

.show-data {
  display: none;
}

.sign-box {
  font-size: 13px;
  height: 410px;
}

.sign-box {
  width: 50%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 40px;
  overflow: hidden;
}

/*============SIDE-CONTENT============*/
.side-content {
  display: flex;
  flex-direction: column;
  grid-gap: 40px;
  background-color: #395886;
  border: 2px solid #66bae3;
  width: 30%;
  margin-left: 40px;
  height: 790px;
  border-radius: 10px;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.side-content-range {
  padding: 50px 50px;
}

.side-content:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.side-content-range h3,
.side-content-range p,
.side-content-range span {
  color: white;
}

.side-content-range p {
  font-size: 15px;
  text-align: justify;
}

.side-content h3 {
  margin-bottom: 15px;
}

.side-content .item-map {
  height: calc(100% - 107px);
  gap: 20px;
}

.item-map .contact {
  padding: 40px;
  background: transparent;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

/** -------- MAP -------- */
.item-map .map {
  padding: 0;
  height: 100%;
}

.item-map .map iframe {
  width: 100%;
  height: 100%;
}

/* =============================== */
/* END SYLING SECTION FORM CONTACT */
/* =============================== */



/* ========================= */
/* ALL RESPONSIVE CONTACT US */
/* ========================= */

@media (max-width: 1024px) {
  .bg-web1 img {
    margin-top: 71px;
    width: 100%;
    z-index: -1;
  }

  .side-content .item-map {
    height: calc(70% - 107px);
  }

  .side-content-range {
    padding: 30px 10px;

  }

  .side-content {
    width: 40%;
    height: 680px;
  }

  .icon {
    margin-top: 60px;
  }
}

@media (max-width: 819px) {
  .show-data .sign-box {
    width: 60%;
    font-size: 12px;
  }

  .form-contact .container {
    display: flex;
    flex-direction: column;
  }

  .container .main-content {
    width: 100%;
  }

  .container .side-content {
    margin-top: 35px;
    width: 60%;
    margin-left: 0;
  }

}



@media (max-width: 768px) {


  .container .side-content {
    height: 670px;
  }


  .text-bg1 {
    font-size: 40px;
  }

  .box {
    margin: 0 0 35px 30px;
  }

  .flex_space {
    flex-wrap: wrap;
    justify-content: center;
  }

  .text-bg2 {
    font-size: 25px;
  }

  .form-contact .container {
    max-width: 90%;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .container .main-content {
    width: 100%;
  }

  .form-contact .container .side-content {
    width: 100%;
    margin-left: 0px;
  }
}


/*-----------side-content-----------*/
@media (max-width: 768px) {
  .contact .flex {
    flex-direction: column;
  }
}

h2 {
  margin-bottom: 40px;
}

/*----------show-data---------*/
@media (max-width: 768px) {
  .show-data .sign-box {
    width: 90%;
    height: 425px;
  }

  .sign-box {
    margin: none;
    font-size: 12px
  }

  .show-data {
    height: 410px;
  }

  .flex_space1 {
    gap: 12px;
    justify-content: flex-start;
  }
}



@media (max-width: 500px) {
  .text-bg1 {
    font-size: 30px;
  }

  .text-bg2 {
    font-size: 20px;
  }

  #contactForm .grid1 {
    display: grid;
    grid-template-columns: none;
    grid-gap: 17px;
  }

  .show-data .sign-box {
    width: 100%;
    font-size: 11px;
    padding: 10px;
  }

  .container .side-content {
    height: 690px;
  }

  footer .content .link-boxes {
    justify-content: flex-end;
    justify-items: start;
  }

}


@media (max-width: 376px) {
  .section-header .bg-web1 img {
    margin-top: 71px;
    width: 107%;
  }

  .box {
    margin: 0 0 38px 17px;
  }

  .container .main-content {
    width: 108%;
  }

  .form-contact .container .side-content {
    width: 108%;
  }

  footer .content .link-boxes {
    justify-content: flex-end;
    justify-items: start;
  }

  .flex_space1 {
    gap: 20px;
  }

}

@media (max-width: 321px) {
  .section-header .bg-web1 img {
    margin-top: 71px;
    width: 121%;
  }

  .box {
    margin: 0 0 38px 27px;
  }
}