@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #C8D7EE;
}

::-webkit-scrollbar-thumb {
  background-color: #4369DF;
}

/* ============== */
/*  NAVBAR STYLE  */
/* ============== */

header {
  background: rgb(0, 74, 173);
  background: linear-gradient(90deg, rgba(0, 74, 173, 1) 64%, rgba(42, 132, 216, 1) 90%);
  box-shadow: 0 8px 12px -4px rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

.navbar-menu span {
  display: none;
}

.nav-list span {
  font-size: 15px;
  border: 1px solid #e2ede9;
  color: #e2ede9;
  border-radius: 30px;
  width: 125px;
  margin-right: 5px;
  margin-top: 7px;
  text-align: center;
  padding-top: 5px;
  height: 35px;
  font-family: "Poppins", "sans-Serif";
  font-weight: 500;
  text-transform: capitalize;
  margin-left: 20px;
}

.btn-navbar span .nav-list a {
  font-size: 18px;
}

.account-bar .nav-link {
  display: none;
}

.navbar-toggle.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-7px, 6px);
}

.navbar-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.navbar-toggle.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-7px, -6px);
}

.nav-list a:hover {
  box-shadow: 0 -3px 0px #fff inset, 500px 0 0 rgba(255, 255, 255, 0.03) inset;
  padding: 35px 15px 20px 15px;
}

.navigationn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-right: 25px;
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 3;
  top: 0;
}

.nav-list {
  color: var(--muda);
}

.nav-list a {
  color: #e2ede9;
  padding: 13px;
  font-weight: 500;
}

.nav-list a#btn-active {
  color: #45F5FF;
  box-shadow: 0 -3px 0px #fff inset, 500px 0 0 rgba(255, 255, 255, 0.03) inset;
  padding: 35px 15px 20px 15px;
}

.logo {
  width: 185px;
  height: auto;
  padding-top: 5px;
}

/* ======END NAVBAR STYLE ======= */




/* ========================== */
/* RESPONSIVE BREAKPOINTS  */
/* ========================== */
@media screen and (min-width: 818px) and (max-width: 995px) {
  .main-about {
    display: flex;
    flex-direction: column;
  }

  .pict-aboutus img{
    margin-top: 30px;
    width: 100%;
  }

}


@media (max-width: 995px){
  .search .search-form .search-side1 {
    display: flex;
    width: 95%;
  }

  .search-form .search-side1 .rooms{
    width: 20%;
  }

  .search-form #search-button {
    display: flex;
    font-size: 13px;
    padding: 10px 25px;
  }
}



@media screen and (max-width: 819px) {


/* ============ */
/* RESP NAVBAR  */
/* ============ */
  
  .bar {
    display: block;
    border-radius: 5px;
  }

  .navbar-toggle {
    display: flex;
    align-items: center;
  }

  .navbar-menu span {
    font-size: 12px;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 84px;
    right: 0;
    background-color: #333;
    width: 40% auto;
    list-style-type: none;
    margin-top: -15px;
    padding: 0;
    display: flex;
    gap: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    align-items: flex-start;
  }

  .nav-list.active {
    padding-top: 10px;
    display: flex;
    margin-top: -15px;
    margin-bottom: 30px;
    max-height: 500px;
    transition: max-height 0.3s ease-in-out;
  }

  .nav-list a {
    font-size: 18px;
    color: #fff;
    margin: 0;
  }

  .nav-list a:hover {
    box-shadow: none;
    color: #45F5FF
  }

  .nav-list li a {
    margin: auto;
    text-align: left;
    padding-left: 20px;
    padding-right: 40px;
    transition: all 0.3s;
  }

  .btn-navbar {
    display: none;
  }

  .btn-navbar1 {
    display: block;
    padding-bottom: 20px;
    padding-left: 15px;
  }

  .account-bar .nav-link {
    display: flex;
  }

  .account-bar a {
    padding: 0;
    margin: 0;
  }

  .account-bar a:hover {
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 20px;
  }


/* ======================== */
/*  RESP FORM SEARCH STYLE  */
/* ======================== */

.search .search-form {
  display: block;
  display: flex;
  flex-direction: column;
  height: 120px;
  padding-top: 10px;
  width: 89%;
}

  .search .search-form .search-side1{
    display: flex;
    width: 95%;
    padding-bottom: 10px;
  }

  .search-form .search-side1 .rooms{
    width: 20%;
  }

  .search-form #search-button {
    display: flex;
    font-size: 13px;
    padding: 10px 25px;
    justify-content: center;
  }
  

  /* ================= */
  /*  RESP MAIN ABOUT  */
  /* ================= */

  .main-about {
    display: flex;
    flex-direction: column;
  }

  .pict-aboutus img{
    margin-top: 30px;
    width: 100%;
  }

  .flex-card .wrapper i:first-child {
    left: -6px;
  }
  
  .flex-card .wrapper i:last-child {
    right: -6px;
  }
  
  .flex-card .wrapper i {
    transform: translateY(-65%);

  }
 


  
  .section-slider {
   background-color: #EAF8FF;
  }

  .section-about-us .svg-bg-1 {
  height: 936px;
  }


  .section-swiper .svg-bg-2 {
    height: 1083px;
    }

    .section-works {
      background-color: #EAF8FF;
    }

    .wrapper .carousel .card {
      height: 350px;
    }

    .section-swiper .title-section-2 {
      padding-top: 85px;
    }


    .content-works .box-works {
      height: 360px;
      width: 220px;
    }

    .details-works p {
      text-align: center;
      font-size: 13.5px;
    }

      .details-works h2 {
      margin: 20px 0;
    }

    .content-works .box-works {
      height: auto;
      width: 360px;
     }
  
  
     .wrapper-works .content-works { 
      justify-content: center;
      grid-template-columns: none;
     }
  

}


/* Mobile Phone  */
@media (max-width: 500px) {

  .search .search-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 93px;
    padding: 7px 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .search-form .search-side1 input {
    margin: 0 5px;
    font-size: 11px;
  }


  .search .search-form .search-side1{
    display: flex;
    width: 95%;
    padding-bottom: 0px;
  }


  .search-form .search-side1 .search-destination { 
    width: 50%;
    margin-left: 0px;
  }

  .search-form .search-side1 .rooms{
    width: 20%;
    margin-right: 0px;
  }

  
.search-form #search-button {
  width: 163px;
  font-size: 13px;
  padding: 4px 36px;
}

.search-bttn .search-icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

  .content-works .box-works {
    height: auto;
    width: 360px;
   }


   .wrapper-works .content-works { 
    grid-template-columns: none;
   }


   .wrapper i:first-child {
    left: -9px;
  }
  
  .wrapper i:last-child {
    right: -9px;
  }
  
  .section-about-us .main-about {
    margin-left: 35px;
    margin-right: 35px;
  }

  .nav-list a {
    font-size: 14px;
  }




  .wrapper .carousel .card {
    height: 350px;
    width: 220px;
}

.section-slider .wrapper .carousel {
  gap: 95px;
}

}





/* =================== */
/*  FORM SEARCH STYLE  */
/* =================== */



.search {
  margin-top: 88px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}

.search-form {
  display: flex;
  align-items: center;
  height: 80px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #20274D;
  box-shadow: 0 8px 12px -4px rgba(0, 0, 0, 0.5);
}

.search-form input {
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#search-button {
  font-weight: bold;
  font-size: 17px;
  color: white;
  background-color: #5392F9;
  padding: 8px 50px;
  border: none;
  border-radius: 35px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

#search-button:hover {
  background: linear-gradient(to bottom, #709AD1, #3c5f7f);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-bttn {
  margin-left: 10px;
  margin-right: 10px;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}




/* ================================ */
/* STYLING SECTION 1 (GAMBAR COVER) */
/* ================================ */
.container-home-s-1 {
  display: block;
  height: 100vh;
}

.bg-web {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
}

.container-home-s-1-1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.container-isi-home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: transparent;
  text-align: left;
  justify-content: center;
}

.text-bg1-home {
  text-align: left;
  font-size: 40px;
  font-weight: 700;
  padding-left: 29vh;
  color: rgb(255, 255, 255);
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.6);
  margin: 0;
}

.text-bg2-home {
  text-align: left;
  font-size: 35px;
  font-weight: 700;
  padding-left: 29vh;
  color: rgb(255, 255, 255);
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.6);
  margin: 0;
}


.text-bg2-home span {
  color: #004AAD;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.6);
  text-align: left;
  font-size: 35px;
  font-weight: 700;
  margin: 0;
}

.position-text {
  padding-top: 29vh;
}

@keyframes appearDisappear {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.fa-chevron-down {
  position: absolute;
  bottom: 0;
  text-decoration: none;
  font-size: 30px;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  text-shadow: 0 0 8px #00eeff;
  animation: appearDisappear 3s infinite;
}

.arrow-main {
  display: flex;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}


/* ===================================== */
/* END STYLING SECTION 1 (GAMBAR COVER)  */
/* ===================================== */




/* ============================= */
/*  SECTION MAIN ABOUT US STYLE  */
/* ============================= */

.svg-bg-1 {
  display: block;
  position: absolute;
  margin: auto;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: -1;
}

.main-about {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
}

.warp-aboutus {
  width: auto;
  margin-right: 20px;
}

.main-about-txt {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #004AAD;
}

.main-about-txt2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.article-txt article {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.parag1 {
  margin-bottom: 20px;
}

.search-bttn3 {
  font-family: 'poppins', sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: white;
  background-color: #C7752A;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.search-bttn3:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
}

.pict-aboutus {
  box-shadow: 78px 11px 0px -40px rgba(0, 74, 173, 0.75);
  -webkit-box-shadow: 78px 11px 0px -40px rgba(0, 74, 173, 0.75);
  -moz-box-shadow: 78px 11px 0px -40px rgba(0, 74, 173, 0.75);
}

/* ======END SECTION MAIN ABOUT US STYLE ======= */




/* ================================== */
/*  SECTION MOST POPULAR HOTEL STYLE  */
/* ================================== */

.title-section {
  padding-top: 130px;
  font-size: 1.7rem;
}

.container-service {
  font-size: 35px;
  font-weight: 500px;
  margin-bottom: 25px;
  text-align: center;
  background-color: #EAF8FF;
  padding-bottom: 20px;
}

.line {
  border-bottom: 2px dashed #999;
  margin: 20px auto auto;
  position: relative;
  width: 18%;
  margin-bottom: 50px;
}

.line::after,
.line::before {
  background-color: #004AAD;
  border-radius: 50%;
  content: "";
  height: 15px;
  position: absolute;
  top: -6px;
  width: 15px;
}

.line::before {
  right: -20px;
  ;
}

.line::after {
  left: -20px;
  ;
}

.flex-card {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -19px;
}

.wrapper i:last-child {
  right: -19px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card,
  .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card {
  scroll-snap-align: start;
  height: 450px;
  list-style: none;
  background: #ffffff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
  border: 2px solid #66bae3;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
}

.card .img img {
  display: flex;
  width: 98%;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 17px;
  height: 88%;
}


.card h2 {
  font-size: 1rem;
  font-weight: 500;
}

.carousel .card h2 {
  margin: 20px 0 5px;
  margin-bottom: 10px;
}

.carousel .card span {
  color: #6a6d78;
  font-size: 15px;
  margin-bottom: 15px;
}

.location-info {
  display: inline-flex;
  margin-top: 10px;
  flex-wrap: wrap;

}

.location-icon {
  margin-right: 8px;
  width: 10px;
}

.location-text {
  font-size: 14px;
  color: #555;
}

.rate {
  color: grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 25px;
}

.star {
  width: 15px;
  margin-left: 5px;
}

.detail-text {
  text-align: center;
}

.name-hotel {
  text-align: center;
}

.name-hotel::before {
  background: #000;
  content: "";
  height: 1px;
  position: relative;
  bottom: -20px;
  left: 40%;
  width: 60px
}

.name-hotel::after {
  background: #000;
  content: "";
  height: 1px;
  position: relative;
  bottom: -10px;
  left: 45%;
  width: 30px;
}

.price {
  font-weight: bold;
  color: #004AAD;
}

/* ======END SECTION MOST POPULAR HOTEL STYLE ======= */




/* ======================================== */
/*  SECTION MOST POPULAR DESTINATION STYLE  */
/* ======================================== */

.section-swiper {
  background-color: #EAF8FF;
  height: 700px;
}

.title-section-2 {
  padding-top: 120px;
  font-size: 1.7rem;
}

.container-destination {
  font-size: 35px;
  font-weight: 500px;
  margin-bottom: 5px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 70px;
  background-color: #EAF8FF;
}

.sections {
  position: relative;
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EAF8FF;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
  overflow: hidden;
}

.swiper {
  width: 100%;
  padding-bottom: 5px;
}

.swiper-slide {
  width: 300px;
  height: 400px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  filter: blur(1px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
}

.swiper-slide-active {
  filter: blur(0px);
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-slide span {
  text-transform: uppercase;
  color: #fff;
  background: #1b7402;
  padding: 7px 18px 7px 25px;
  display: inline-block;
  border-radius: 0 20px 20px 0px;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
}

.swiper-slide--one span {
  background: #62667f;
}

.swiper-slide--two span {
  background: #087ac4;
}

.swiper-slide--three span {
  background: #b45205;
}

.swiper-slide--four span {
  background: #087ac4;
}

.swiper-slide h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-bottom: 15px;
  padding: 25px 45px 0 25px;
}

.swiper-slide p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  padding: 0 25px 35px 25px;
}

.swiper-slide svg {
  color: #fff;
  width: 22px;
  height: 22px;
  margin-right: 7px;
}

.swiper-slide--one {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(https://rakyatempatlawang.disway.id/upload/18ee9dc9e7d5bf20d394e5a717c3d02c.jpg) no-repeat 50% 50% / cover;
}

.swiper-slide--two {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://communication.binus.ac.id/wp-content/uploads/files/2019/01/Bedugul.jpg") no-repeat 50% 50% / cover;
}

.swiper-slide--three {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://www.1001malam.com/travel/wp-content/uploads/2015/11/Candi-Prambanan1.jpg") no-repeat 50% 50% / cover;
}

.swiper-slide--four {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://asset.kompas.com/crops/Lmq-S1VsR9wieYsrfCdDTUO4fNk=/0x0:780x520/750x500/data/photo/2021/06/21/60d0364731f74.png") no-repeat 50% 50% / cover;
}

.swiper-slide--five {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://discoveringsurabaya.files.wordpress.com/2015/09/landmark1.jpg") no-repeat 50% 50% / cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

.svg-bg-2 {
  display: block;
  position: absolute;
  margin: auto;
  width: 100%;
  height: auto;
  z-index: -1;
}

/* ======END SECTION MOST POPULAR DESTINATION STYLE  ======= */





/* ======================== */
/*  SECTION DISCOVER STYLE  */
/* ======================== */

.wrapper-works {
  max-width: 85%;
  margin: auto;
}

.content-works {
  grid-gap: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.box-works {
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
  padding: 40px 20px;
}

.img-1 img {
  width: 50px;
}

.details-works h2 {
  font-size: 20px;
  margin: 15px 0;
  font-weight: 500;
}

.details-works p {
  font-size: 14px;
}


/* ======END SECTION DISCOVER STYLE  ======= */




/* ==============*/
/*  FOOTER STYLE  */
/* ============== */

footer {
  position: relative;
  background: #140B5C;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-top: 230px;
}

footer::before {
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}

footer .content {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px 40px 40px;
}

footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.content .top .logo-details {
  color: #fff;
  font-size: 30px;
}

.content .top .logo-details img {
  width: 160px;
  height: auto;
}

.content .top .media-icons {
  display: flex;
}

.content .top .media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}

.top .media-icons a:nth-child(1) {
  background: #4267B2;
}

.top .media-icons a:nth-child(1):hover {
  color: #4267B2;
  background: #fff;
}

.top .media-icons a:nth-child(2) {
  background: #1DA1F2;
}

.top .media-icons a:nth-child(2):hover {
  color: #1DA1F2;
  background: #fff;
}

.top .media-icons a:nth-child(3) {
  background: #E1306C;
}

.top .media-icons a:nth-child(3):hover {
  color: #E1306C;
  background: #fff;
}

.top .media-icons a:nth-child(4) {
  background: #0077B5;
}

.top .media-icons a:nth-child(4):hover {
  color: #0077B5;
  background: #fff;
}

.top .media-icons a:nth-child(5) {
  background: #FF0000;
}

.top .media-icons a:nth-child(5):hover {
  color: #FF0000;
  background: #fff;
}

footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer .content .link-boxes .box {
  width: calc(100% / 5 - 10px);
}

.content .link-boxes .box .link_name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}

.link-boxes .box .link_name::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}

.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}

.content .link-boxes .box li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}

.content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}

.content .link-boxes .input-box {
  margin-right: 55px;
}

.link-boxes .input-box input {
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}

.link-boxes .input-box input::placeholder {
  color: #AFAFB6;
  font-size: 16px;
}

.link-boxes .input-box input[type="button"] {
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}

.input-box input[type="button"]:hover {
  opacity: 1;
}

footer .bottom-details {
  width: 100%;
  background: #0F0844;
}

footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}

.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}

.bottom-details .bottom_text a {
  margin-right: 10px;
}

/* ====== END FOOTER STYLE  ====== */



/* ========================== */
/*  RESPONSIVE FOOTER STYLE   */
/* ========================== */

@media (max-width: 900px) {
  footer .content .link-boxes {
    flex-wrap: wrap;
  }

  footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
  }
}

@media (max-width: 700px) {
  footer {
    position: relative;
  }

  .content .top .logo-details {
    font-size: 26px;
  }

  .content .top .logo-details img {
    width: 160px;
    height: auto;
  }

  .content .top .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }

  footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
  }

  footer .content .link-boxes .input-box {
    width: 60%;
  }

  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 12px;
  }
}

@media (max-width: 520px) {
  footer::before {
    top: 185px;
  }

  footer .content .top {
    flex-direction: column;
  }

  .content .top .media-icons {
    margin-top: 16px;
  }

  footer .content .link-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  footer .content .link-boxes .box {
    width: calc(100% / 2 - 10px);
  }

  footer .content .link-boxes .input-box {
    width: 100%;
  }

 

}

/* ====== END RESPONSIVE FOOTER STYLE  ====== */


/* text responsive */

@media screen and (max-width: 800px ) {
  .text-bg1-home {
    font-size: 30px;
  }

  .text-bg2-home {
    font-size: 30px;
  }

  .text-bg2-home span {
    font-size: 30px;
  }
  
}

@media screen and (max-width: 600px ) {


  .text-bg1-home {
    font-size: 26px;
    padding-left: 35px;
  }
  .text-bg2-home {
    font-size: 26px;
    padding-left: 35px;
  }

  .text-bg2-home span {
    font-size: 26px;
  }

}



