@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap");



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  padding: 20px 10%;
  padding-left: 5px;
  padding-right: 30px;
  background: rgb(0, 74, 173);
  background: linear-gradient(90deg, rgba(0, 74, 173, 1) 64%, rgba(42, 132, 216, 1) 90%);
  box-shadow: 0 8px 12px -4px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  /* Z-index set to 100 */
}



.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 160px;
  height: auto;
  margin-left: 20px;
}

.text-logo {
  color: white;
  font-size: 25px;
  font-weight: bold;
  display: none;
}

.navbar a {
  font-size: 15px;
  color: white;
  font-weight: bold;
  margin-left: 25px;
  position: relative;
  /* Tambahkan properti ini */
  transition: color 0.3s;
  /* Transisi warna teks */
  text-decoration: none;
  /* Hapus properti text-decoration yang ada */
}

.navbar a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  /* Mengubah posisi awal dari kiri menjadi tengah */
  transform: translateX(-50%);
  /* Menggeser garis bawah ke tengah */
  background: white;
  height: 2px;
  width: 0;
  transition: width 0.3s;
}


.navbar a:hover {
  color: #afafaf;
  /* Ubah warna teks saat kursor diarahkan */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar a:hover::before {
  width: 100%;
  /* Lebar garis bawah saat kursor diarahkan */
}



.navbar button {
  --width: 110px;
  --height: 43px;
  border: 0;
  position: relative;
  width: var(--width);
  height: var(--height);
  font-size: 0.95rem;
  font-family: "Montserrat";
  font-weight: bold;
  margin: 1rem;
  margin-left: 60px;
  border-radius: 40px;
  cursor: pointer;
  overflow: hidden;
  background-color: rgba(255, 0, 0, 0.01);
  border: 2px solid white;
  box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.75);
}



.navbar button span {
  position: relative;
  z-index: 2;
  transition: color 200ms ease;
  color: #ffffff;
}

.navbar button div {
  position: absolute;
  width: calc(3 * var(--width));
  height: calc(3 * var(--height));
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: white;
  clip-path: circle(0% at 50% 50%);
  transition: clip-path 500ms ease;
  z-index: 1;
}

.navbar button:hover span {
  color: rgba(42, 132, 216, 1);
}

.navbar button:hover div {
  clip-path: circle(100% at 50% 50%);
}


.search {
  margin-top: 88px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;

}

.search-form {
  display: flex;
  align-items: center;
  height: 80px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: #20274D;
  box-shadow: 0 8px 12px -4px rgba(0, 0, 0, 0.5);
}

.search-form input {
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

#search-button {
  font-family: 'poppins', sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: white;
  background-color: #5392F9;
  padding: 8px 50px;
  border: none;
  border-radius: 35px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

#search-button:hover {
  background: linear-gradient(to bottom, #709AD1, #3c5f7f);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
}


.search-destination {
  margin-left: 80px;
}

.search-checkin {
  margin-left: 80px;

}


.search-checkout {
  margin-left: 80px;
}

.search-bttn {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.rooms {
  padding-left: 20px;
  padding-right: 20px;
}

.search-icon {
  width: 20px;
  /* Set the desired width for your icon */
  height: 20px;
  /* Set the desired height for your icon */
  margin-right: 10px;
  /* Adjust the margin to separate the icon from the text */
}








.bg-web {
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -220px;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('assets/web1-bg.jpg');
  opacity: 0.70;
  /* Atur tingkat opacity yang diinginkan */
  z-index: -1;
  /* Agar gambar latar belakang berada di belakang konten */
  background-size: cover;
}


/* Ganti background-image pada .bg-web menjadi 'none' */
.bg-web {
  background-image: none;
}

.text-bg1 {
  position: absolute;
  margin-top: 350px;
  margin-left: 900px;
  margin-right: 150px;
  text-shadow: 0px 4px 2px rgba(255, 255, 255, 0.6);
  font-weight: bold;
}

.text-bg span {
  color: #00509D;
  margin-left: 10px;
}

.search-bttn2 {
  font-family: 'poppins', sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: white;
  background-color: #C7752A;
  padding: 8px 70px;
  border: none;
  border-radius: 35px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-top: 450px;
  margin-left: 900px;
}

.search-bttn2:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
}

.main-about {
  margin-top: 300px;
  display: flex;
  align-items: center;
  /* Vertically align items in the center */
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
}

.main-about-txt {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #004AAD;


}

.main-about-txt2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  /* Sesuaikan jarak bawah sesuai kebutuhan */
}


.warp-aboutus {
  width: 50%;
}

.pict-aboutus {
  box-shadow: 78px 11px 0px -40px rgba(0, 74, 173, 0.75);
  -webkit-box-shadow: 78px 11px 0px -40px rgba(0, 74, 173, 0.75);
  -moz-box-shadow: 78px 11px 0px -40px rgba(0, 74, 173, 0.75);
}



.article-txt article {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
  /* Sesuaikan jarak bawah sesuai kebutuhan */
}


.search-bttn3 {
  font-family: 'poppins', sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: white;
  background-color: #C7752A;
  padding: 8px 45px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.search-bttn3:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
}

.parag1 {
  margin-bottom: 20px;
}

.parag2 {
  margin-bottom: 20px;
}





/* SWIPER */


.sections {
  position: relative;
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e1e1e;
  overflow: hidden;
  border-top-left-radius: 400px;
  /* Border radius pada atas kiri */
  border-top-right-radius: 400px;
}

.swiper {
  width: 100%;
  padding-bottom: 5px;
}

.swiper-slide {
  width: 300px;
  height: 400px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  filter: blur(1px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
}

.swiper-slide-active {
  filter: blur(0px);
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-slide span {
  text-transform: uppercase;
  color: #fff;
  background: #1b7402;
  padding: 7px 18px 7px 25px;
  display: inline-block;
  border-radius: 0 20px 20px 0px;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
}

.swiper-slide--one span {
  background: #62667f;
}

.swiper-slide--two span {
  background: #087ac4;
}

.swiper-slide--three span {
  background: #b45205;
}

.swiper-slide--four span {
  background: #087ac4;
}

.swiper-slide h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-bottom: 15px;
  padding: 25px 45px 0 25px;
}

.swiper-slide p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  padding: 0 25px 35px 25px;
}

.swiper-slide svg {
  color: #fff;
  width: 22px;
  height: 22px;
  margin-right: 7px;
}

.swiper-slide--one {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(https://images.unsplash.com/photo-1556206079-747a7a424d3d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80) no-repeat 50% 50% / cover;
}

.swiper-slide--two {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://tranquil-licorice-79e76f.netlify.app/images/dest-3.jpg") no-repeat 50% 50% / cover;
}

.swiper-slide--three {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://images.unsplash.com/photo-1549144511-f099e773c147?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80") no-repeat 50% 50% / cover;
}

.swiper-slide--four {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://images.unsplash.com/photo-1650367310179-e1b5b8e453c3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") no-repeat 50% 50% / cover;
}

.swiper-slide--five {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://images.unsplash.com/photo-1596521864207-13d46b1a0c78?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80") no-repeat 50% 50% / cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}














/* drag-lide */

.title-section {
  margin-top: 130px;
  font-size: 1.7rem;
}

.flex-card {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  z-index: 1;

}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  left: -19px;
}

.wrapper i:last-child {
  right: -19px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card,
  .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card {
  scroll-snap-align: start;
  height: 450px;
  list-style: none;
  background: #ffffff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
  border: 1.5px solid #66bae3;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
}


.card .img img {
  display: flex;
  width: 98%;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 17px;
  height: 88%;
}

.carousel .card h2 {
  font-weight: 500;
  font-size: 25px;
  margin: 20px 0 5px;
  margin-bottom: 10px;
}

.carousel .card span {
  color: #6a6d78;
  font-size: 15px;
  margin-bottom: 15px;
}




.rate {
  color: grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 25px;

}

.star {
  width: 15px;
  margin-left: 5px;
}

.container-service {
  font-size: 35px;
  font-weight: 500px;
  margin-bottom: 25px;
  text-align: center;
  background-color: #EAF8FF;
  padding-bottom: 20px;
  padding-top: 70px;
}





.title-section-2 {
  margin-top: 170px;
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
}


.container-destination {
  font-size: 35px;
  font-weight: 500px;
  margin-bottom: 5px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 70px;
  background-color: #EAF8FF;
  border-top-left-radius: 120px;
  /* Border radius pada atas kiri */
  border-top-right-radius: 120px;
}

.section-swiper {
  background-color: #EAF8FF;
  border-top-left-radius: 120px;
  /* Border radius pada atas kiri */
  border-top-right-radius: 120px;
  height: 700px;
}


.location-info {
  display: flex;
  margin-top: 10px;
  padding-right: 180px;
}

.location-icon {
  margin-right: 8px;
  width: 10px;
  /* Sesuaikan ukuran ikon sesuai kebutuhan */
}

.location-text {
  font-size: 14px;
  color: #555;
  /* Warna teks yang sesuai */
}


.price {
  font-weight: bold;
  color: #004AAD;
}

.detail-text {
  text-align: center;
}

.name-hotel {
  text-align: center;
}

.name-hotel::before {
  background: #000;
  content: "";
  height: 1px;
  position: relative;
  bottom: -20px;
  left: 40%;
  width: 60px
}

.name-hotel::after {
  background: #000;
  content: "";
  height: 1px;
  position: relative;

  bottom: -10px;
  left: 45%;
  width: 30px;
}



/* How it works section */



.wrapper-works {
  max-width: 85%;
  margin: auto;
}

.content-works {
  grid-gap: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.box-works {
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
  padding: 40px 20px;
}

.img-1 img {
  width: 50px;
}

.details-works h2 {
  font-size: 20px;
    margin: 15px 0;
}

.svg-bg-1 {
  display: block;
  position: absolute;
  margin: auto;
  width: 100%;
  height: auto;
  z-index: -1;
}

.svg-bg-2 {
  display: block;
  position: absolute;
  margin: auto;
  width: 100%;
  height: auto;
  z-index: -1;
}

.line {
  border-bottom: 2px dashed #999;
  margin: 20px auto auto;
  position: relative;
  width: 18%;
  margin-bottom: 70px;
}

.line::after,
.line::before {
  background-color: #004AAD;
  border-radius: 50%;
  content: "";
  height: 15px;
  position: absolute;
  top: -6px;
  width: 15px;
}

.line::before {
  right: -20px;
  ;
}

.line::after {
  left: -20px;
  ;
}



/* FOOTER STYLING */
footer{
  position: relative;
  background: #140B5C;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-top: 230px;
}
footer::before{
  content: '';
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}
footer .content{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px 40px 40px;
}
footer .content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .top .logo-details{
  color: #fff;
  font-size: 30px;
}

.content .top .logo-details img{
  width: 160px;
  height: auto;
}



.content .top .media-icons{
  display: flex;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
footer .content .link-boxes{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box{
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li{
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease
}
.content .link-boxes .box li a:hover{
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box{
  margin-right: 55px;
}
.link-boxes .input-box input{
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #AFAFB6;
  background: #140B5C;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder{
  color: #AFAFB6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"]{
  background: #fff;
  color: #140B5C;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover{
  opacity: 1;
}
footer .bottom-details{
  width: 100%;
  background: #0F0844;
}
footer .bottom-details .bottom_text{
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
}
.bottom-details .bottom_text a:hover{
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a{
  margin-right: 10px;
}


@media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }

  .content .top .logo-details img{
    width: 160px;
    height: auto;
  }

  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
}
@media (max-width: 520px){
  footer::before{
    top: 185px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }

}